@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: local('Noto Sans KR Thin'), url('/fonts/NotoSansKR-Thin.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 200;
  src: local('Noto Sans KR ExtraLight'), url('/fonts/NotoSansKR-ExtraLight.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: local('Noto Sans KR Light'), url('/fonts/NotoSansKR-Light.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: local('Noto Sans KR Regular'), url('/fonts/NotoSansKR-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: local('Noto Sans KR Medium'), url('/fonts/NotoSansKR-Medium.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  src: local('Noto Sans KR SemiBold'), url('/fonts/NotoSansKR-SemiBold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: local('Noto Sans KR Bold'), url('/fonts/NotoSansKR-Bold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  src: local('Noto Sans KR ExtraBold'), url('/fonts/NotoSansKR-ExtraBold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  src: local('Noto Sans KR Blac'), url('/fonts/NotoSansKR-Blac.ttf') format('ttf'),
}