@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: local('Noto Sans KR Thin'), url('/font/NotoSansKR-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 200;
  src: local('Noto Sans KR ExtraLight'), url('/font/NotoSansKR-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: local('Noto Sans KR Light'), url('/font/NotoSansKR-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: local('Noto Sans KR Regular'), url('/font/NotoSansKR-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: local('Noto Sans KR Medium'), url('/font/NotoSansKR-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  src: local('Noto Sans KR SemiBold'), url('/font/NotoSansKR-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: local('Noto Sans KR Bold'), url('/font/NotoSansKR-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  src: local('Noto Sans KR ExtraBold'), url('/font/NotoSansKR-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  src: local('Noto Sans KR Black'), url('/font/NotoSansKR-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: local('Montserrat Thin'), url('/font/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat Regular'), url('/font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Montserrat Medium'), url('/font/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local('Montserrat SemiBold'), url('/font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local('Montserrat Bold'), url('/font/Montserrat-Bold.ttf') format('truetype');
}
